{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
    <link href="{% static 'bootstrap-3/css/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">
    <style>
        .ui.four.cards {
            margin-left: -.75em;
            margin-right: -.75em;
            padding: 0px 8px;
        }
    
        article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
    width: 100%;
}
        
        .wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
    </style>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Clientes">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Eventos">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Localidades">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Ticket">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-print"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="ui search">
                                <div class="ui big icon input">
                                    <input class="prompt" placeholder="Buscar Cliente" type="text">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                            <div style="text-align:center">
                            <div class="ui center aligned category search">
                                <div class="ui icon input">
                                    <input class="prompt" placeholder="Search animals..." type="text">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                            </div>
                        <div style="margin-top: 50px"></div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="positive ui button next-step">Positive Button</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div class="ui four cards">
                            {% for event in eventos %}
                            <div class="card">
                                <div class="image">
                                    <a href="">
                                    <img src="{{ event.portada }}" width="100%"></a>
                                </div>

                                <div class="content">
                                    <a class="header">{{event.titulo}}</a>
                                    <div class="meta">
                                        <span class="date">{{event.categoria}}</span>
                                    </div>
                                    <a>
                                        <i class="calendar alternate outline icon"></i>
                                        {{event.inicio}}
                                    </a>
                                </div>
                                <div class="extra content">
                                    <div style="text-align: right">                                  
                                        <div class="ui form">
                                            <div class="inline field">
                                                <div class="ui toggle checkbox">
                                                    <input tabindex="0" class="hidden" type="checkbox" id="{{event.id}}" onclick="evento_comprar({{event.id}})">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                            <div style="margin-top: 50px"></div>
                        <ul class="list-inline pull-right">
                            <li><div class="ui buttons">
                                <button type="button" class="ui button prev-step">Cancel</button>
                                <div class="or"></div>
                                <button type="button" class="ui positive button next-step">Save</button>
                            </div></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h3>Step 3</h3>
                        <p>This is step 3</p>
                        <div style="margin-top: 50px"></div>
                        <ul class="list-inline pull-right">
                            <li>
                                <div class="ui buttons">
                                    <button type="button" class="ui button prev-step">Cancel</button>
                                    <div class="or"></div>
                                    <button type="button" class="ui positive button next-step">Save</button>
                                </div>
                            </li>
                            <!-- <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li> -->
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Complete</h3>
                        <p>You have successfully completed all steps.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
   </div>
</div>




{% endblock %}

{% block footer %}
<script src='{% static "js/jquery.min.js" %}'></script>
<script src="{% static 'semantic/semantic.min.js' %}"></script>
<script src="{% static 'bootstrap-3/js/bootstrap.min.js' %}"></script>
<script>
    $('.ui.checkbox').checkbox();
    function evento_comprar(id){
        
    }
    var content = [
  { category: 'MIGUEL PIMIENTA', title: '1045738591' },
  { category: 'South America', title: 'Peru' },
  { category: 'North America', title: 'Canada' },
  { category: 'Asia', title: 'South Korea' },
  { category: 'Asia', title: 'Japan' },
  { category: 'Asia', title: 'China' },
  { category: 'Europe', title: 'Denmark' },
  { category: 'Europe', title: 'England' },
  { category: 'Europe', title: 'France' },
  { category: 'Europe', title: 'Germany' },
  { category: 'Africa', title: 'Ethiopia' },
  { category: 'Africa', title: 'Nigeria' },
  { category: 'Africa', title: 'Zimbabwe' },
  // etc
];

    $('.ui.search')
        .search({
        type: 'category',
        source: content,
        minCharacters: 3
    });

    
</script>

<script>
    $(document).ready(function () {
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();
    
    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

        var $target = $(e.target);
    
        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });

    $(".next-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');
        nextTab($active);

    });
    $(".prev-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);

    });
});

function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
}
</script>

{% endblock %}